<!-- START of Kunstmaan cookie bar -->
<div id="kumacookiebar">
    <div class="legal-container">
        <h2>{{ 'kuma.cookie.bar.title' | trans }}</h2>
{% set cookie = get_legal_cookie(app.request) %}

{% if cookie is empty %}
    <!-- START of Kunstmaan cookie bar -->
    <div id="kumacookiebar">
        <div class="legal-container">
            <h1>{{ 'kuma.cookie.bar.title' | trans }}</h1>

        <div class="legal-row">
            {% for type in types %}
                <div class="legal-col">
                    <h5 class="legal-title">
                        <span>{{ type.name }}</span>
                        <svg class="icon icon--chevron--down legal-title__icon">
                            <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--chevron--down"></use>
                        </svg>
                    </h5>
                    {% if type.shortDescription is not empty %}
                        <div class="legal-paragraph__container">
                            <p class="legal-paragraph">
                                {{ type.shortDescription | replace_url | raw }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="legal-footer">
            <div class="legal-footer__preferences">
                {% set preferences %}
                    <a class="js-legal-modal-handle" data-target="#legal-modal--cookies" data-url="{{ path('kunstmaancookiebundle_legal_modal', {'internal_name': 'legal_cookie_preferences'}) }}">
                        {{ 'kuma.cookie.bar.cookie_preferences' | trans }}
                    </a>
                {% endset %}
                {% set privacy %}
                    <a class="js-legal-modal-handle" data-target="#legal-modal--cookies" data-url="{{ path('kunstmaancookiebundle_legal_modal', {'internal_name': 'legal_privacy_policy'}) }}">
                        {{ 'kuma.cookie.bar.privacy_policy' | trans }}
                    </a>
                {% endset %}
                {% spaceless %}
                    <div class="legal-footer__preferences__left">
                        {{ 'kuma.cookie.bar.footer' | trans({'%preferences%': preferences, '%privacy_policy%': privacy}) | raw }}
                    </div>
                    <div class="legal-footer__preferences__left--mobile">
                        {{ preferences }}
                        {{ privacy }}
                    </div>
                {% endspaceless %}

                <div class="legal-footer__preferences__right">
                    <a href="#" class="legal-btn">{{ 'kuma.cookie.bar.button' | trans | raw }}</a>
                    <a class="js-legal-modal-handle" data-target="#legal-modal--cookies" data-url="{{ path('kunstmaancookiebundle_legal_modal', {'internal_name': 'legal_cookie_preferences'}) }}">
                        {{ 'kuma.cookie.bar.change_preferences' | trans | raw }}
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="legal-modal legal-modal--narrow" id="legal-modal--cookies">
    <div class="legal-modal__content">
        <button class="legal-modal__close svg-parent js-legal-modal-close">
            CLOSE
        </button>
        <div class="js-legal-modal__content-wrapper">

        </div>
    </div>
</div>
<!-- END of Kunstmaan cookie bar -->
