<!-- START of Kunstmaan cookie bar -->

{% set cookie = get_legal_cookie(app.request) %}
{% set types = get_cookie_types() %}
{% if cookie is empty %}

    <div id="kumacookiebar" class="kumacookiebar kumacookiebar--show">
        <div class="legal-container">
            <h2>{{ 'kuma.cookie.bar.title' | trans }}</h2>

            <div class="legal-row">
                {% for type in types %}
                    <div class="legal-col">
                        <h5 class="legal-title js-collapsible-title">
                            <span>{{ type.name }}</span>
                            <svg class="icon icon--chevron--down legal-title__icon">
                                <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--chevron--down"></use>
                            </svg>
                        </h5>
                        {% if type.shortDescription is not empty %}
                            <div class="legal-paragraph__container">
                                <p class="legal-paragraph js-collapsible-content">
                                    {{ type.shortDescription | replace_url | raw }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="legal-footer">
                <div class="legal-footer__preferences">
                    {% set preferences %}
                        <a class="js-legal-modal-handle" data-target="#legal-modal--cookies" data-url="{{ path('kunstmaancookiebundle_legal_modal', {'internal_name': 'legal_cookie_preferences'}) }}">
                            {{ 'kuma.cookie.bar.cookie_preferences' | trans }}
                        </a>
                    {% endset %}
                    {% set privacy %}
                        <a class="js-legal-modal-handle" data-target="#legal-modal--cookies" data-url="{{ path('kunstmaancookiebundle_legal_modal', {'internal_name': 'legal_privacy_policy'}) }}">
                            {{ 'kuma.cookie.bar.privacy_policy' | trans }}
                        </a>
                    {% endset %}
                    {% spaceless %}
                        <div class="legal-footer__preferences__first">
                            {{ 'kuma.cookie.bar.footer' | trans({'%preferences%': preferences, '%privacy_policy%': privacy}) | raw }}
                        </div>
                        <div class="legal-footer__preferences__first--mobile">
                            {{ preferences }}
                            {{ privacy }}
                        </div>
                    {% endspaceless %}

                    <div class="legal-footer__preferences__second">
                        <a href="#" class="legal-btn js-legal-toggle-all-subscriber" data-href="{{ path('kunstmaancookiebundle_legal_toggle_all_cookies') }}">{{ 'kuma.cookie.bar.button' | trans | raw }}</a>
                        <a class="js-legal-modal-handle" data-target="#legal-modal--cookies" data-url="{{ path('kunstmaancookiebundle_legal_modal', {'internal_name': 'legal_cookie_preferences'}) }}">
                            {{ 'kuma.cookie.bar.change_preferences' | trans | raw }}
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="legal-modal legal-modal--narrow" id="legal-modal--cookies">
    <div class="legal-sidebar js-legal-sidebar">
        <a href="#" class="js-legal-sidebar__back legal-sidebar__back">
            <svg class="icon icon--chevron--down legal-sidebar__back__icon">
                <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--chevron--down"></use>
            </svg>
            <span class="legal-sidebar__back__text">
                {{ 'kuma.cookie.sidebar.back' | trans | raw }}
            </span>
        </a>
        <div class="legal-sidebar__content-wrapper">

        </div>
    </div>
    <svg class="icon icon--cross legal-modal__close svg-parent js-legal-modal-close">
        <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--cross"></use>
    </svg>
    <div class="legal-modal__content">
        <div class="js-legal-modal__content-wrapper">

        </div>
        <a href="#" class="totop-pp"></a>
    </div>
</div>
<!-- END of Kunstmaan cookie bar -->
