{% set cookie = get_legal_cookie(app.request) %}

<div class="legal-cookies">
    {% for type in get_cookie_types() %}
        <strong class="legal-toggle-name">
            {{ type.name }}
        </strong>
        <div class="legal-toggle-container">
            {% if type.alwaysOn %}
                <div class="legal-toggle__always">
                    <img src="/frontend/img/legal/svg/check.svg"/>
                    <span class="legal-toggle__text">
                        {{ 'kuma.cookie.cookie_preferences.always_on' | trans }}
                    </span>
                </div>
            {% else %}
                {% set checked = false %}
                {% if attribute(cookie, type.internalName) is defined and attribute(cookie, type.internalName) == "true" %} {% set checked = true %} {% endif %}
                <label for="legal_cookie_{{ type.internalName }}" class="legal-toggle">
                    <input type="checkbox" id="legal_cookie_{{ type.internalName }}" class="legal-toggle__input js-legal-toggle" rel="{{ type.internalName }}"{% if checked %} checked{% endif %}/>
                    <div class="legal-toggle__slider"></div>
                    <div class="legal-toggle__text">
                        <span class="legal-toggle__text--true">{{ 'kuma.cookie.cookie_preferences.on' | trans }}</span>
                        <span class="legal-toggle__text--false">{{ 'kuma.cookie.cookie_preferences.off' | trans }}</span>
                    </div>
                </label>
            {% endif %}
            <a href="{{ path('kunstmaancookiebundle_legal_detail', {'internalName': type.internalName}) }}" class="legal-toggle__link js-toggle__link">
                <span class="legal-toggle__link__desktop">
                    {{ 'kuma.cookie.cookie_preferences.detail.desktop' | trans }}
                </span>
                <span class="legal-toggle__link__mobile">
                    {{ 'kuma.cookie.cookie_preferences.detail.mobile' | trans }}
                </span>
            </a>
        </div>
        {% if type.longDescription is not empty %}
            <p>
                {{ type.longDescription | replace_url | raw }}
            </p>
        {% endif %}
    {% endfor %}
</div>


{% set cookie = get_legal_cookie(app.request) %}

