{% extends '@KunstmaanAdmin/Settings/index.html.twig' %}

{% block header %}{% endblock %}

{% block extracss %}
    {% stylesheets
    "@KunstmaanDashboardBundle/Resources/ui/scss/_dashboard.scss"
    output='KunstmaanDashboardBundleAssets/css/DashboardStyle.min.css'
    filter="scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {% set route_params = route_params|merge(app.request.query.all) %}

    {% if app.request.query.has('id') %}
        {% set activeId = app.request.query.get('id') %}
    {% endif %}

    <div id="data_overview" class="dashboard__content--loading">
        <!-- TABS -->
        <ul class="health-tabs nav nav-tabs js-auto-collapse-tabs">
            {% for widget in widgets %}
                {% set route_params = route_params|merge({'id': loop.index}) %}
                <li class="health-tabs__item {{ activeId is defined and activeId == loop.index ? 'activeId' }}" id="tab{{ loop.index }}">
                    <a href="#" class="health-tabs__controller" data-id="{{ loop.index }}" data-path="{{ path(widget.resolvedController, route_params) }}" data-toggle="tab">
                        {{ widget.name | trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <!-- end TABS -->

        <!-- TAB CONTENT -->
        <section id="data_content">
        </section>
        <!-- end TAB CONTENT -->

    </div>
{% endblock %}

{% block extrajavascript %}
    {% javascripts
    '@KunstmaanHealthBundle/Resources/ui/js/tabs.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
