{% set tabs = {
'legal_privacy_policy': 'legal_privacy_policy',
'legal_cookie_preferences': 'legal_cookie_preferences',
'legal_contact': 'legal_contact'
} %}

{% for key, tab in tabs %}
    {% if tab == node.internalName %}
        {% set tabs = tabs|merge({(tab): node}) %}
    {% else %}
        {% set tabs = tabs|merge({(tab): get_node_by_internal_name(tab, app.request.locale)}) %}
    {% endif %}
{% endfor %}

<div class="legal-container">
    <div class="legal-tabs-wrapper">
        {% for key,tab in tabs %}
            <input class="legal-state" type="radio" name="tabs-state" id="tab-{{ key }}"{% if key == node.internalName %} checked{% endif %}/>
        {% endfor %}

        <div class="legal-tabs">
            {% for key,tab in tabs %}
                <label for="tab-{{ key }}" id="tab-{{ key }}-label" class="legal-tab">
                    {{ tab.nodeTranslation(app.request.locale).title }}
                </label>
            {% endfor %}

            {% for key,tab in tabs %}
                {% set pageToRender = get_page_by_node_translation(tab.nodeTranslation(app.request.locale)) %}
                <div id="tab-{{ key }}-panel" class="panel{% if key == node.internalName %} active{% endif %}">
                    {% include '<%= bundle.name %>:Pages:LegalPage/_content.html.twig' with {'page': pageToRender} %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="legal-footer--sticky">
        <button class="js-legal-toggle-subscriber legal-footer__save legal-btn" data-href="{{ path('kunstmaancookiebundle_legal_toggle_cookies') }}">
            {{ 'kuma.cookie.cookie_preferences.save' | trans }}
        </button>
    </div>
    <a href="#" class="totop-pp"></a>

    <div class="notification js-notification">
        <p class="notification__content">
            {{ 'kuma.cookie.notification.text' | trans }}
        </p>
    </div>

    <div class="legal-modal legal-modal--narrow" id="legal-modal--cookies-page">
        <div class="legal-sidebar js-legal-sidebar">
            <a href="#" class="js-legal-sidebar__back legal-sidebar__back">
                <svg class="icon icon--chevron--down legal-sidebar__back__icon">
                    <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--chevron--down"></use>
                </svg>
            <span class="legal-sidebar__back__text">
                {{ 'kuma.cookie.sidebar.back' | trans | raw }}
            </span>
            </a>
            <div class="legal-sidebar__content-wrapper">

            </div>
        </div>
        <svg class="icon icon--cross legal-modal__close svg-parent js-legal-modal-close">
            <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--cross"></use>
        </svg>
        <div class="legal-modal__content--extra">
            <div class="js-legal-modal__content-wrapper">

            </div>
        </div>
    </div>
</div>

